.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
  margin: 10px;
}

.input {
  border: none;
  border-radius: 0;
  padding: 20px;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  margin-top: 10px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 10px;
}
